/* Empty. Add your own CSS if you like */
/* 
.promotion-row{ 
display:flex;
flex-wrap: wrap;  
justify-content: space-around;    
}
.promotion-col{
width:40%;
height:25em;           
padding-top:3em;
}
*/
.bar-header {
    background-color: black;    
}

.title-center {
    font-weight:900 !important;
    /*    font-size: 2.6em !important;*/
    /*    color:#607d8b !important;        */
    color:white;
    font-size: 2em !important;
    white-space:nowrap !important;   
    padding-top:0.3em;
    line-height:100% !important;
    /*    height:150% !important; */    
}
.side-menu-list {
    font-weight:700;
    font-size:1.4em;
    /*    color:dimgrey !important;*/
    color:white !important;
    padding-left:1em;
    border-left:none;
    border-right:none;
    background-color:transparent;
}
.item-content-selected {    
    background-color:salmon !important;
    color:white !important;
}
.promotion-list {
    margin:0;
    /*    padding-top: 6em; */
    display:flex;
    flex-wrap: wrap;     
    /*
    padding-left:3em;
    padding-right:3em;
    margin-top:1em;    
    */
    padding-left:0;
    padding-right:0;
    margin-top:0;    
}
.promotion-dish{
    margin:0 !important;   
    width:50%;
    height:22em;
    /*
    padding:1.5em;
    border:none;
    padding-left:3em;
    padding-right:3em;
    */
    border:5px ridge orange;
    padding:0;
}

.dish-photo{
    height:75%;
    width: 100%;
    padding:0em; 
    margin:0;    
}
.dish-label{    
    width:100%;
    height:23.5%;    
    padding:0;
    /*    margin-top:-0.2em;*/
    font-size:1.3em;
    text-align:left;   
    color:white !important;
    background-image: url('../img/darkred.jpg') !important;
    background-size: 100% 100%;
}

.cart-dish-label{
    background-color:white !important;
}

.add-item-modal {
    width:70%;
    height:80%;    
    top:10%;
    left:auto;    
    right:10%;
}   

.redeemReward-modal{
    height:20%;
}

.promo-modal {
    height:25%;

}

.invoice-box{
    max-width:800px;
    margin:auto;
    padding:30px;
    border:1px solid #eee;
    box-shadow:0 0 10px rgba(0, 0, 0, .15);
    font-size:16px;
    line-height:24px;
    font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color:#555;
}

.invoice-box table{
    width:100%;
    line-height:inherit;
    text-align:left;
}

.invoice-box table td{
    padding:5px;
    vertical-align:top;
}

.invoice-box table tr td:nth-child(2){
    text-align:right;
}

.invoice-box table tr.top table td{
    padding-bottom:20px;
}

.invoice-box table tr.top table td.title{
    font-size:45px;
    line-height:45px;
    color:#333;
}

.invoice-box table tr.information table td{
    padding-bottom:40px;
}

.invoice-box table tr.heading td{
    background:#eee;
    border-bottom:1px solid #ddd;
    font-weight:bold;
}

.invoice-box table tr.details td{
    padding-bottom:20px;
}

.invoice-box table tr.item td{
    border-bottom:1px solid #eee;
}

.invoice-box table tr.item.last td{
    border-bottom:none;
}

.invoice-box table tr.total td:nth-child(2){
    border-top:2px solid #eee;
    font-weight:bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td{
        width:100%;
        display:block;
        text-align:center;
    }

    .invoice-box table tr.information table td{
        width:100%;
        display:block;
        text-align:center;
    }
}


/*
@keyframes blink {  
    0% { color: black; }
    100% { color: red; }
}
@-webkit-keyframes blink {
    0% { color: black; }
    100% { color: red; }
}
.blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
} 
*/

/*
.promotion-list {
margin:0;
padding:0;
}
.promotion-dish{
margin:0 !important;    
display:flex;
height:11em;   
padding:0;
border:none;
}

.dish-photo{
height:auto;
width:35%;
padding:0.5em;
padding-bottom:0;
}
.dish-label{
width:65%;
padding:1em;
font-size:1.3em;
}
*/